@model  IEnumerable<UserEntity.User>

@{
    ViewBag.Title = "LibraryUser";
}

<h2>LibraryUser</h2>
@Html.ActionLink("Create New Package", "Create")<br />

@if(TempData["Message"]!=null)
{
    @Html.Label((string) TempData["Message"]);
}

<table border="1">
    <tr>
        <td>LibraryUser</td>
        <td>LibraryUserName</td>
        <td>UserEmail</td>
       
    </tr>
  
            @foreach(UserEntity.User user in (List<UserEntity.User>)ViewData["user"])
            {
                <tr>
                   
                    
                    <td>
                        @user.name
                    </td>
                    <td>
                        @user.userName
                    </td>
                    <td>
                        @user.email
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { userName = user.userName})
                        @Html.ActionLink("Delete", "Delete", new {userName =user.userName })
                    </td>
                </tr>

            }
    


</table>

